* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    height: 100vh;
}

.cabecalho {
    background-color: orange;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 70px;    
    border-bottom: 5px solid rgb(51, 50, 48);
}

.cabecalho-titulo {
    color: black;
    display: flex;
    font-size: large;
}

.cabecalho-icone {
    width: 50px;
}

.cabecalho-Busca{
    background-color:#2F4F4F;
    border:solid 1px;
    border-radius:15px;
    width:300px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }  

  .medias {   
    background-color: rgb(252, 252, 252);
    display: grid;
    grid-template-columns: repeat(4, 1fr);    
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    padding: 20px;
    justify-content: center;
    justify-items: center;
  }
.medias-video video {
    width: 300px;
    padding: 5px;
}

  .medias-video {
    background-color: white;
    box-shadow: 2px 2px 5px darkgray;
    display: flex;
    flex-direction: column;    
    align-items: center;    
    padding: 20px;
    width: 300px;
  }

  footer {
    background-color: rgb(51, 50, 48);
    border-bottom: 5px solid orange;
    color: white;
    font-size: xx-large;
    display: block;
    text-align: center;  
    padding-top: 8px;
    margin: auto;    
    height: 60px;
  }  

  /* secao das páginas de cada vídeo */
  .player {      
    background-color: rgb(29, 28, 28);
    display: flex;
    flex-direction: column;
    text-align: center; 
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
  }
  .player h1 {
      color: aliceblue;    
      padding-right: 1150px;  
  }